<html xmlns:front_page="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Excel file
        </title>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script>
            console.log(current_ratio);
            </script>
            <script>
                window.onload = function () {

                var chart1 = new CanvasJS.Chart("chartContainer1", {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        text: "current_ratio"
                    },
                    axisY:{
                        includeZero: false
                    },
                    data: [{
                        type: "line",
                        dataPoints: [
                            {% for cell in current_ratio %}
                                { y: {{cell}} },
                            {% endfor %}
                        ]
                    }]
                });
                chart1.render();


                var chart2 = new CanvasJS.Chart("chartContainer2", {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        text: "quick_ratio"
                    },
                    axisY:{
                        includeZero: false
                    },
                    data: [{
                        type: "line",
                        dataPoints: [
                            {% for cell in quick_ratio %}
                                { y: {{cell}} },
                            {% endfor %}
                        ]
                    }]
                });
                chart2.render();



                var chart3 = new CanvasJS.Chart("chartContainer3", {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        text: "debt_equity"
                    },
                    axisY:{
                        includeZero: false
                    },
                    data: [{
                        type: "line",
                        dataPoints: [
                            {% for cell in debt_equity %}
                                { y: {{cell}} },
                            {% endfor %}
                        ]
                    }]
                });
                chart3.render();

                }
                function curr_ratio_func() {
                    var x = document.getElementById("curr_ratio_div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    }
                function quick_ratio_func() {
                    var x = document.getElementById("quick_ratio_div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    }
                function debt_equity_ratio_func() {
                    var x = document.getElementById("debt_equity_ratio_div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    }
        </script>
        <style>
            a:hover {
            color: rgb(170, 164, 165);
            cursor: pointer;
            }
            table {
              width:80%;

            }
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
              text-align: left;
            }
            tr:nth-child(even) {
              background-color: #eee;
            }
            tr:nth-child(odd) {
             background-color: #fff;
            }
            th {
              background-color: black;
              color: white;
            }
            </style>
    </head>







    <!-- Body Start -->
    <body >
        <br><br>
        <div class="row">
            <div class="col-10" align="center">
                    <div class="jumbotron" style="width:60%;">
                            <h4>Enter Ratios Sheet</h4>
                            <form action="{% url "front_page:ml_index" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                                    <div class="col-md-8">
                                        <input type="file"
                                         name="excel_file"
                                         id="csv_file"
                                         required="True"
                                         class="form-control"
                                         style="height: 40px;">
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                        <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                                </div>
                            </div>
                            </form>
                        </div>
            </div>
        </div>


        <p></p>
        <hr>
        <!-- <script>
        var current_ratio = [];
        </script>
        {{current_ratio}}
        {{quick_ratio}}
        {{debt_equity}}
        {% for cell in current_ratio %}
                {{ cell }}
                 <script>current_ratio.push({{ cell }});</script>
            <br>
        {% endfor %} -->


        <h4 align="center">Table of ratios</h4>
        <div align="center">
        <table>
            <tr>
                <th>Name of Ratio</th>
                <th>Mar 19</th>
                <th>Mar 18</th>
                <th>Mar 17</th>
                <th>Mar 16</th>
                <th>Mar 15</th>
            </tr>
            <tr>
                <th>
                        <a onclick="curr_ratio_func()" style="text-decoration: none;color:white;">Current Ratio</a>
                </th>
                {% for value in current_ratio %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th><a onclick="quick_ratio_func()" style="text-decoration: none;color:white;">Quick Ratio</a></th>
                {% for value in quick_ratio %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th><a onclick="debt_equity_ratio_func()" style="text-decoration: none;color:white;">Debt Equity</a></th>
                {% for value in debt_equity %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        </table>
        <br><br><br>
        <div class="container">
        <div class="row">
            <div class="col-sm-5" >

            <div id="curr_ratio_div" style="display:none;">
                    <div id="chartContainer1" style="height: 300px; width: auto;"></div>

                    <h4>This is Current Ratio details element.</h4>
                    <table>
                            <tr>
                                <th>Range</th>
                                <th>Growth Significance</th>
                            </tr>
                            <tr>
                                <td>Current Ratio > 2 </td>
                                <td>Good Position</td>
                            </tr>
                            <tr>
                                <td> 1 < Current ratio < 2 </td>
                                <td>Average Position</td>
                            </tr>
                            <tr>
                                <td>Current Ratio < 1 </td>
                                <td>Critical Position</td>
                            </tr>
                        </table>
                
                        
                        <h4>The current ratio indicates the company's ability to cover it's short term liabilities using short term assets </h4>
                        <h4>The value in March 2019 was {{ current_ratio|first }} with almost same value as compared to the previous year.</h4>
                
                        <br>
                        <br>
                  </div>
            </div>


            <div class="col-sm-5">

                <div id="quick_ratio_div" style="display:none;">
                        <div id="chartContainer2" style="height: 300px; width: auto;"></div>
                        <br>
                        <h4>This is Quick Ratio details element.</h4>
                        </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-10">
                <!-- <div id="chartContainer3" style="height: 300px; width: 100%;"></div> -->
                <div id="debt_equity_ratio_div" style="display:none;">
                        <div id="chartContainer3" style="height: 300px; width: auto;"></div>
                        <br>
                        <h4>This is Debt_equity details element.</h4>
                        </div>
            </div>
          </div>
        </div>

    <!-- <div align="center">
    <div id="chartContainer1" float="center" style="height: 300px; width: 60%;"></div><br>
    <div id="chartContainer2" style="height: 300px; width: 60%;"></div>
    <div id="chartContainer3" style="height: 300px; width: 60%;"></div>
</div> -->




</div>
</body>
</html>